.search {
  padding-top: 130px;
  padding-bottom: 2.5rem;
  text-align: left;
  float: center;

  @mixin atMedium {
    padding-top: 160px;
  }

  &__input {
    width:100%;
    max-width: 250px;
  }

  &__results {
    text-align: left;
  /*  background-color: $mainBlue;*/
    margin-bottom: 10px;
    /*border: 2px solid $mainBlue;*/
  }

  &__form {
    display: block;
  }

  &__btn-container {
    float: right;
  }

  &__result-container {
    border: 2px solid #FFF;
    background-color: $mainBlue;

    h4, a, p {
      padding-left: 1rem;
    }
  }

  &__results-btn {
    color: #FFF;
    font-weight: 200;
    text-decoration: none;
  }
}
